@font-face {
  font-family: myFirstFont;
  src: url(assets/fonts/hind-siliguri/HindSiliguri-Bold.ttf);
}
*{font-family:myFirstFont!important; }
.row{margin-left: 0!important;margin-right: 0!important;}

ul{padding: 0;}


.logo_area {margin-top: 15px;text-align: center;}
.logo_area img {border-radius: 60px;}
.menu_links {margin-top: 55px;}
.menu_links li {list-style: none;display: block;padding-left: 25px;float: left;font-size: 15px;
	             font-weight: 600;}
.menu_links li a{color: black;    text-decoration: none;}
a.icon {display: none;}	             
a.blue_link {padding: 15px;background: #222b54;color: white!important;border-radius: 20px;margin-top: -10px;}	            
li.blue_link {}

.login_area {margin-top: 55px;}
.login_area li {list-style: none;display: block;float: left;padding-left: 15px;}
.login_area a {text-decoration: none!important;color: #2fb455;font-size: 15px;font-weight: 600;}
.banner_area{ margin-top: 15px;background-image: url(assets/images/banner.jpg);height: 500px;background-size: cover;}
.banner_content h1 {color: white;font-weight: 900;text-align: center;font-size: 45px;font-family: cursive;padding-top: 90px;}
.search_area {position: relative; padding: 30px;box-shadow: 3px 4px #3030304d;width: 70%;margin: 35px auto;background: #f0f8ff9e;}
.search_area form {display: flex;}
.search_area select {border-radius: 10px;}
.search_area label {margin-left: 10px;}
select#location{width: 35%;padding: 10px 35px;}
select#game {width: 20%;    padding-left:35px;}
select#calender {width: 15%;margin-left: 1px;padding-left:40px;}
select#clock {width: 14%; padding-left: 35px;}
.label_img1 {position: absolute;font-size: 20px;top: 40px;left: 47px;}
.label_img2 {position: absolute;top: 40px;font-size: 20px;left: 38%;padding: 0px 5px;}
.label_img3 {position: absolute;font-size: 20px;top: 40px;left: 59%;}
.label_img4 {font-size: 20px;position: absolute;top: 40px;right: 223px;}
.find_space {text-align: center;}
.find_space a {color: white;text-decoration: none!important;padding: 15px 50px;background: #222b54;font-size: 15px;font-weight: 600;}
.find_space a:hover{color:#222b54; background-color: white; }

/*==========================SECTION-2====================================================*/
.prenotare {text-align: center;margin-top: 40px;}
.prenotare h1 {color: #383636;font-weight: 600;font-family: cursive;margin-bottom: 20px;}
.prenotare p {font-size: 17px;color: #615952;line-height: 28px;}

/*=====================SECTION-3================================*/
.row.section3 {margin-bottom: 70px;}
.badge-area {margin-top: 40px;}
.badge_bck {background-image: url(assets/images/Ellipse-1-.png);height: 200px;width: 60%;
	background-size: auto;background-position: inherit;margin: 0 auto;background-repeat: no-repeat;}
.badge_image img {position: absolute;top: 66px;left: 39%;}
img.third_badge {top: 60px;left: 155px;}
.badeg_content {text-align: center;width: 60%;margin: 0 auto;}
/*.badge_image{background-image: url(assets/images/Ellipse-1-.png);}*/
.badges {text-align: center;margin-top: 40px;background-image: url(assets/images/Ellipse-1-.png);}
.badges img {width: 190px;}
.badges h3 {margin-top: 0px;margin-bottom: 15px;font-weight: 600; font-size: 20px;font-family: cursive;}

/*=====================SECTION-4==================================*/
.row.section4 {background: whitesmoke;}
.manage_book {}
.booking_content { padding: 50px;    background: #f5f5f5;}
.booking_content h1 {font-size: 45px;font-weight: 600;font-family: cursive;margin-bottom: 25px;}
.booking_content p {font-size: 16px;color: #6b6c6d;line-height: 25px;}
.booking_btn {margin-top: 60px;}
a.find_btn { padding: 15px 30px;text-decoration: none!important; font-weight: 600;background: #222b54;color: white;}
a.find_btn:hover{color: #222b54; background-color: white; border: 1px solid}
a.book_btn {margin-left: 20px;padding: 15px 30px;text-decoration: none!important;color: white;font-weight: 600;background: #23b14d;}
a.book_btn:hover{color: #23b14d; background-color: white;border: 1px solid}

/*=====================SECTION-5==================================*/

.video_area {text-align: center;margin: 100px 0;}
.video_area h1 {font-size: 45px;font-weight: 600;font-family: cursive; margin-bottom: 40px;}
.video_area p { margin-top: 40px;color: #676762;font-size: 17px;}
iframe.video {width: 85%;height: 400px;border: 10px solid #e3e3e3;padding: 5px;border-radius: 8px;box-shadow: 0px 7px 36px 6px #abab9c;}
.booking_btn_2 {margin-top: 40px;}

/*=====================SECTION-6==================================*/

.row.section6 {background: #222b54;}
.heading_area {padding-left: 160px;margin: 100px 0;}
.heading_area h1 {color: white;font-size: 40px; font-weight: 600; font-family: cursive;}
.heading_area p {color: #dadada;margin-top: 40px;font-size: 17px;}
.heading_btn {margin-top: 60px;}
.heading_btn a {margin-left: 0!important;}


/*===============SECTION-7-CAROUSEL=================*/
.client_info h1 { text-align: center; margin: 40px 0;font-size: 45px;font-weight: 600;font-family: cursive;}
.slide_content p {font-size: 40px;font-weight: 600;margin-top: 20px;color: #b7c0c0;}
.client_slider {background: #f1f1f1f1;padding: 70px;}
.slide_bck { background-color: #23b14d;height: 250px;width: 260px;margin-left: 18px;
	         border-radius: 150px;}
.slide_img {position: absolute;top: 3px;left: 0px; height: 244px;margin-left: 38px;width: 250px;
	        border: 2px dotted white;border-radius: 129px;padding: 23px;}	         
	         
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
  display: inline-block;
}

/* Slides */
.mySlides {
  display: none;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

a.prev {
    position: absolute;
    right: 20%;
    top: 90%;
    padding: 3px 25px;
    border: 1px solid;
}
a.next {
    position: absolute;
    top: 90%;
    right: 13%;
    border: 1px solid;
    padding: 3px 25px;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}



/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.slide_content {
    margin-top: 60px;
}

.slide_content q {
    color: #6a6b6b;
    font-size: 17px;
}



/*=================ROW-SECTION-8=====================*/
.numbers_detail {margin-top: 45px;text-align: center;}
.num_box { border: 1px solid #c0bebe;padding: 25px;}
.num_box h1 { font-size: 40px; font-weight: 800;color: #23b14d;}
.num_box p {font-size: 18px;color: #5e6061;}


/*==============================FOOTER================================*/

.footer {margin-top: 80px;}
.footer_menu {margin: 45px 0;}
.footer_form {margin-top: 40px;}
.footer_form form {}
.footer_form label { padding: 0 10px;color: white;font-size: 20px;margin-top: 38px;float: left;}
.footer_form input {padding: 20px;width: 55%;border: 2px solid #5f5e5e;float: left;}
.footer_form a {text-decoration: none!important;padding: 20px 50px;background: #23b14d;color: white;font-size: 16px;border: none;}
.footer_form span {cursor: pointer; text-decoration: none!important;padding: 20px 50px;background: #23b14d;color: white;font-size: 16px;border: none;}
.footer_social {text-align: center;margin-top: 35px;}
.footer_social li {display: inline-block;}
.footer_social h3 {color: white;font-size: 20px;font-weight: 600;}

/*------------------lower-footer-----------------------*/

.footer_logo {text-align: center;border: 1px solid #9f9d9d;padding: 20px 0;}
.footer_logo p { color: white;font-size: 10px;margin-top: 10px;}
.section9 {background: #222b54;}
.newsletter {padding-bottom: 45px;border-bottom: 2px solid #fff;}
.footer_links {    margin-left: 20px;    line-height: 25px;}
.footer_links h3 {color: white;font-size: 15px;font-weight: 600;}
.footer_links li {list-style: none;}
.footer_links a {text-decoration: none!important;color: #b9b9b9;}



/*=========================MEDIA-QUERY==============================*/
@media (max-width: 768px){

    .menu_links li { padding-left: 23px!important;}
    .search_area {width: 90%;}
    a.blue_link {padding: 10px 10px;}
    .login_area {margin-top: 55px;margin-left: 40%;}
    .badge_bck {width: 30%;margin: 0 auto;}
    .badge_image img {left: 45%;}
	select#game {width: 20%;padding-left: 35px!important;}
    .label_img2 {left: 270px!important;padding: 0px 5px;}
    .label_img4 {right: 17%;}
    .label_img3 {left: 60%;}
    select#calender {margin-left: 0px;padding-left: 36px;    width: 20%;}
    .booking_img {text-align: center;}
    .booking_content {padding: 50px 145px;}
    .heading_area {padding-left: 0px;    text-align: center;}
    .section6_img {text-align: center;margin-bottom: 40px;}
    a.prev {top: 95%;padding: 6px 25px;}
    a.next {top: 95%;right: 8%;padding: 6px 25px;}
    .slide_bck {margin-left: 25%;}
    .slide_img {margin-left: 27%!important;}
    .footer_links {text-align: center;}
    


}

@media only screen and (max-width: 460px){
    

    .menu_links {margin-top: 25px;}
    .menu_links li {width: 75%;}
    a.blue_link {margin-top: 10px;}
    .login_area {margin-top: 20px;margin-left: 26%;float: left;}
    .login_area a{font-size: 21px;}
    .topnav a.icon{padding: 15px;}
    .banner_area{height: 700px;}
    .search_area{margin: 15px auto;}
    .search_area form {display: inline-block;}
    .banner_content h1{padding: 20px;}
    .label_img1 {top: 60px;left: 40px;}
    .label_img2 {left: 32px!important;top: 38%;}
    .label_img3 {left: 10%;top: 60%;}
    .label_img4 {left: 10%;top: 83%;}
	.section6_img img {width: 100%;}
	.booking_img img {width: 100%;}
	.badge_bck { width: 60%;}
	.badge_image img {left: 40%;}
	.booking_content {padding: 50px 0;}
	.client_slider { padding: 50px;}
	.slide_bck { margin-left: 0;}
	.slide_img {margin-left: 7%!important;}
	a.next {top: 105%;right: 30%;}
	a.prev {right: 55%;top: 105%;}
	.slide_content p{text-align: center;}
	.footer_form label{width: 100%;text-align: center;}
	.footer_form input{width: 100%;}
	.footer_form a{ display: inline-block;margin: 15px auto; width: 100%;text-align: center;}
	select#location {width: 100%;padding: 10px 35px;}
	select#game {width: 100%;padding: 10px 35px;}
	select#calender {width: 100%;padding: 10px 35px;}
	select#clock {width: 100%;padding: 10px 35px;}

	.mobile-container {max-width: 480px;margin: auto;background-color: #555;height: 500px;color: white;
	                border-radius: 10px;}
	.topnav {background-color: #333;position: relative;}
	.topnav #myLinks {display: none;}
	.topnav a {color: white;padding: 14px 16px;text-decoration: none;font-size: 13px;display: block;}
	.topnav a.icon {background: black;display: block;position: absolute;right: 0;top: 0;}
	.topnav a:hover {background-color: #23b14d;color: black;}
	.active {background-color: #4CAF50;color: white;}
	a.icon {display: block;}
	



}


@media only screen and (max-width: 360px){

  .login_area {margin-left: 23%;}
  .banner_area {height: 730px;}
  .badge_bck {width: 67%;}
  .badeg_content{margin: 25px auto;}
  .booking_content{text-align: center;}
  a.book_btn{margin-left: 10px; padding: 15px 25px;}
  .client_slider {padding: 50px 22px;}




}
