@font-face {
  font-family: myFirstFont;
  src: url(../assets/fonts/hind-siliguri/HindSiliguri-Bold.ttf);
}
*{font-family:myFirstFont; }
.row{margin-left: 0!important;margin-right: 0!important;}

ul{padding: 0;}


.logo_area {margin-top: 15px;}
.menu_links {margin-top: 55px;}
.menu_links li {list-style: none;display: block;padding-left: 45px;float: left;font-size: 15px;
	             font-weight: 600;}
.menu_links li a{color: black;    text-decoration: none;}
.menu_links li a:hover{color: #3b5998;}
a.icon {display: none;}	             
a.blue_link {padding: 15px;background: #222b54;color: white!important;border-radius: 20px;margin-top: -10px;}	            
a.blue_link:hover{background:#3b5998; }

.login_area {margin-top: 55px;}
.login_area li {list-style: none;display: block;float: left;padding-left: 15px;}
.login_area a {text-decoration: none!important;color: #2fb455;font-size: 15px;font-weight: 600;}
.banner_area{ margin-top: 15px;background-image: url(../assets/images/banner.jpg);height: 500px;background-size: cover;}
.banner_content h1 {line-height: 55px;color: white;font-weight: 900;text-align: center;font-size: 45px;padding-top: 90px;}
.search_area {position: relative; padding: 30px;box-shadow: 3px 4px #3030304d;width: 70%;margin: 35px auto;background: #f0f8ff9e;}
.search_area form {display: flex;}
.search_area select {border-radius: 10px;padding: 5px 0px 0 50px;border: none;}
.search_area label {margin-left: 10px;}
.location {border-radius: 25px; background: white;padding: 10px 0px;}
.location input {border: none;width: 90%;padding: 7px 0 0 15px;}
.location input:focus{outline: none;}
.sport {background: white;border-radius: 25px;padding: 10px 0;}
.calender {background: white;border-radius: 25px;}
.calender input {padding: 15px 0 15px 15px;border: none;border-radius: 20px;width: 70%;}
.calender input:focus{outline: none;}
.clock {display: flex;background: white;border-radius: 25px;}
.clock select {padding: 15px 0px 15px 10px!important;border-radius: 20px;}
.clock select:focus{outline: none;}
.clock img {margin-top: 12px;}
.search_area select:focus{outline:none;}
.find_space {text-align: center;}
.find_space a {color: white;text-decoration: none!important;padding: 15px 50px;background: #222b54;font-size: 15px;font-weight: 600;}
.find_space a:hover{color:#222b54; background-color: white; }


/*==========================SECTION-1====================================================*/

.row.section1 { padding: 85px 0px;);
  background-size: cover;background-position: center;}
.featured_col1 {
    text-align: center;
    border-radius: 10px;
    background: #ffffff7a;
    padding: 50px 10px;
    box-shadow: 1px 3px 12px 3px #949494;
	
}
.featured_col1 h2 {
	font-size: 52px;
    margin: 25px 0;
    color: #419304;
    text-shadow: 0px 0px 5px #000, 2px 2px 0px #000, 0px 0px 2px #ffffff !important;
			 }
.featured_col1 p {     
	margin-bottom: 50px;
    color: #646464;
    padding: 0 70px;
	}
.featured_col1 a { padding: 10px 50px; font-size: 17px;text-decoration: none!important;
           background: #222b54;color: white;}
.featured_col1 a:hover{color:#222b54; background: white;border: 1px solid;}           

/*==========================SECTION-2====================================================*/
.prenotare {text-align: center;margin-top: 40px;}
.prenotare h1 {color: #383636;font-weight: 600;margin-bottom: 20px;}
.prenotare p {font-size: 17px;color: #615952;line-height: 28px;}

/*=====================SECTION-3================================*/
.row.section3 {margin-bottom: 70px;}
.badge-area {margin-top: 40px;}
.badge_bck {background-image: url(../assets/images/Ellipse-1-.png);height: 200px;width: 60%;
	background-size: auto;background-position: inherit;margin: 0 auto;background-repeat: no-repeat;}
.badge_image img {position: absolute;top: 66px;left: 39%;}
img.third_badge {top: 60px;left: 155px;}
.badeg_content {text-align: center;width: 80%;margin: 0 auto;}
/*.badge_image{background-image: url(assets/images/Ellipse-1-.png);}*/
.badges {text-align: center;margin-top: 40px;background-image: url(../assets/images/Ellipse-1-.png);}
.badges img {width: 190px;}
.badges h3 {margin-top: 0px;margin-bottom: 15px;font-weight: 600; font-size: 20px;}

/*=====================SECTION-4==================================*/
.row.section4 {background: whitesmoke;}
.manage_book {}
.booking_content { padding: 50px;    background: #f5f5f5;}
.booking_content h1 {font-size: 45px;font-weight: 600;margin-bottom: 25px;}
.booking_content p {font-size: 16px;color: #6b6c6d;line-height: 25px;}
.booking_btn {margin-top: 60px;}
a.find_btn { padding: 15px 30px;text-decoration: none!important; font-weight: 600;background: #222b54;color: white;}
a.find_btn:hover{color: #222b54; background-color: white; border: 1px solid}
a.book_btn {margin-left: 20px;padding: 15px 30px;text-decoration: none!important;color: white;font-weight: 600;background: #23b14d;}
a.book_btn:hover{color: #23b14d; background-color: white;border: 1px solid}

/*=====================SECTION-5==================================*/

.video_area {text-align: center;margin: 100px 0;}
.video_area h1 {font-size: 45px;font-weight: 600; margin-bottom: 40px;}
.video_area p { margin-top: 40px;color: #676762;font-size: 17px;}
iframe.video {width: 85%;height: 400px;border: 10px solid #e3e3e3;padding: 5px;border-radius: 8px;box-shadow: 0px 7px 36px 6px #abab9c;}
.booking_btn_2 {margin-top: 40px;}

/*=====================SECTION-6==================================*/

.row.section6 {background: #3d4980;}
.heading_area {padding-left: 160px;margin: 100px 0;}
.heading_area h1 {color: white;font-size: 40px; font-weight: 600; }
.heading_area p {color: #dadada;margin-top: 40px;font-size: 17px;}
.heading_btn {margin-top: 60px;}
.heading_btn a {margin-left: 0!important;}


/*===============SECTION-7-CAROUSEL=================*/
.client_info h1 { text-align: center; margin: 40px 0;font-size: 45px;font-weight: 600;}
.slide_content p {font-size: 40px;font-weight: 600;margin-top: 20px;color: #b7c0c0;}
.client_slider {background: #f1f1f1f1;padding: 70px;}
.slide_bck { background-color: #23b14d;height: 250px;width: 260px;margin-left: 18px;
	         border-radius: 150px;}
.slide_img {position: absolute;top: 3px;left: 0px; height: 244px;margin-left: 38px;width: 250px;
	        border: 2px dotted white;border-radius: 129px;padding: 23px;}	         
	         
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
  display: inline-block;
}

/* Slides */
.mySlides {
  display: none;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

a.prev {
    position: absolute;
    right: 20%;
    top: 90%;
    padding: 3px 25px;
    border: 1px solid;
}
a.next {
    position: absolute;
    top: 90%;
    right: 13%;
    border: 1px solid;
    padding: 3px 25px;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}



/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.slide_content {
    margin-top: 60px;
}

.slide_content q {
    color: #6a6b6b;
    font-size: 17px;
}



/*=================ROW-SECTION-8=====================*/
.numbers_detail {margin-top: 45px;text-align: center;}
.num_box { border: 1px solid #c0bebe;padding: 25px;}
.num_box h1 { font-size: 40px; font-weight: 800;color: #23b14d;}
.num_box p {font-size: 18px;color: #5e6061;}


/*==============================FOOTER================================*/

.footer {margin-top: 0px;}
.footer_menu {margin: 45px 0;}
.footer_form {margin-top: 40px;}
.footer_form form {}
.footer_form label { padding: 0 10px;color: white;font-size: 20px;margin-top: 38px;float: left;}
.footer_form input {padding: 20px;width: 55%;border: 2px solid #5f5e5e;float: left;}
.footer_form a {text-decoration: none!important;padding: 18px 50px;background: #23b14d;color: white;
  font-size: 16px;border: none;line-height: 25px;}
.footer_form span {text-decoration: none!important;padding: 18px 50px;background: #23b14d;color: white;
  font-size: 16px;border: none;line-height: 25px; cursor: pointer;}
.footer_social {text-align: center;margin-top: 35px;}
.footer_social li {display: inline-block;}
.footer_social h3 {color: white;font-size: 20px;font-weight: 600;}

/*------------------lower-footer-----------------------*/

.footer_logo {text-align: center;border: 1px solid #9f9d9d;padding: 20px 0;}
.footer_logo p { color: white;font-size: 10px;margin-top: 10px;}
.section9 {background: #222b54;}
.newsletter {padding-bottom: 45px;border-bottom: 2px solid #fff;}
.footer_links {    margin-left: 20px;    line-height: 25px;}
.footer_links h3 {color: white;font-size: 15px;font-weight: 600;}
.footer_links li {list-style: none;}
.footer_links a {text-decoration: none!important;color: #b9b9b9;}








/*====================================LOGIN-REGISTER-PAGE======================================*/

.login_section {background-image:url(../assets/images/login_back.jpg); padding: 60px;margin-top: 20px;
                background-position: right;background-size: cover;}
.login_pg_login {padding: 40px;
       width: 55%;box-shadow: 0px 3px 12px 3px #484848;margin: 0 auto;background: #32ad5654;}
.login_pg_login h1{text-align: center;color: white;text-shadow: 7px 8px 13px #3b5998;font-size: 45px;}
.login_pg_login a {display: block;padding: 10px 15px;margin-top: 20px;background: white;
                    text-decoration: none!important;font-size: 16px;color: #767a7a;}
a.fb_login_link {background: #3b5998!important;color: white;}
a.fb_login_link:hover {color: #c6c6c6;}
a.sign_in_btn {text-align: center;border-radius: 35px;
    background: none;border: 2px solid white;color: white;}
a.sign_in_btn:hover{color: #4793ea; background: white;border: 2px solid #4793ea; }
.login_pg_login img {width: 30px;margin-right: 30px;}
.login_pg_login h5 { text-align: center;margin-top: 25px;color: white;font-size: 15px;}
.login_pg_login input {font-size: 20px;padding: 10px 35px; width: 100%;font-family: sans-serif!important;
                          border-radius: 20px;border: none;}
.login_pg_login input:focus{outline: none;}
.login_pg_login p {text-align: center;margin: 10px 0;color: #e3e2e1;}
a.click_here_btn {background: none;padding: 0;margin: 0;color: #f7f7c0;}
.register_part input {padding: 7px 25px;border-radius: 25px;border: 1px solid #afafaf;}
.register_part h1 {color: white;text-shadow: 2px 3px 4px #8482c2;}
.register_part a {text-align: center;border-radius: 35px;
    background: none;border: 2px solid white;color: white;}
.register_part p {color: #e3e2e1;}
a.click_here_reg {color: white;
     text-align: center;border-radius: 35px;background: none;border: 2px solid white;}
a.click_here_reg:hover{ color: #4793ea; background: white;border: 2px solid #4793ea;}
.check_btn {display: flex;margin-top: 25px;}
.check_btn input {width: 10%;}
.check_btn label {color: white;}
a#myBtn { border: none;text-align: center;margin: 10px auto;padding: 0;color: white;background: none;}
a#myBtn:hover{color: #23527c;}



/*====================================RESET-POPUP======================================*/


.reset_pass {text-align: center;padding: 50px;background: #175f234f;}
.reset_pass h3 {color: white;font-size: 30px;}
.reset_pass input {border-radius: 0;font-size: 15px;}
.reset_pass p {color: #dadada;}
.reset_pass a {color: white;width: 20%;margin: 30px auto 5px auto;background: #141a32;border-radius: 0;
               border: none;}
.reset_pass a:hover{color:#141a32; background:white;border: 1px solid;  }


.modal {
  display: none; position: fixed;z-index: 1; padding-top: 100px;
  left: 0;top: 0;width: 100%; height: 100%;
  overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.modal-content {
  background-image: url(../assets/images/reset.jpg);
  margin: auto;border: 1px solid #888;width: 50%;}
.close {color: #aaaaaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover,.close:focus {color: #000;text-decoration: none;cursor: pointer;}




/*=====================================NOSTRI-PAGE================================*/

.nostri_search {padding: 3px;background: #dedede; margin-top: 10px;}
.nostri_search_area { position: relative;margin: 15px auto;}
.nostri_search_area input {border: none;width: 90%;background: none;}
.nostri_search_area input:focus{outline:none;}
.nostri_search_area select {border: none;width: 87%;padding-left: 20px;}
.nostri_search_area select:focus{outline:none;}
.nostri_location {padding:10px 5px;background: white;}
.nostri_calender {background: white;padding: 10px 5px;display: flex;}
.nostri_calender input {margin-left: 10px;}
.nostri_btn {margin-top: 17px;}
.nostri_btn a {padding: 15px 42px;background: #222b54;color: white;text-decoration: none!important;}
.nostri_btn a:hover{color: white;background: #23b14d;}
.main_section {margin-top:40px;}
.main_section_sidebar {padding: 30px 5px; margin: 30px 0;background: #ffffff;
    box-shadow: 1px 1px 5px 1px #7c7c7c;border-radius: 5px;}
.main_section_sidebar h2 {background: #222b54; padding: 10px;font-size: 14px;color: white;}
.main_section_sidebar select {width: 90%;margin: 5px 10px 0 10px;padding: 3px;border-radius: 10px;
                               border-radius: 3px;}
.main_section_sidebar h5 {text-align: center;color: #292727;}
.main_section_sidebar p {text-align: center;}
span#demo {font-size: 50px;}
span#demo-two {font-size: 50px;}
.nostri_content_heading { margin-left: 25px;}
.nostri_main_section {margin-bottom: 40px;}
.nostri_content_heading h1 {color: #23b14d;text-shadow: 2px 3px 2px;}
.nostri_content_heading h3 {color: #23b14d;}
.detail_box {box-shadow: 1px 0px 8px 2px grey;margin: 20px 0;padding-bottom: 10px;}
.sports_center li {list-style: none;margin-left: 10px;display: inline;}
.sports_center img {width: 100%;}

a.ground_link {position: absolute;bottom: 25px;left: 25px;transition: .5s ease;
         text-decoration: none!important;color: white;border-radius: 0 0 5px 5px; z-index: 9999;}
.sports_center {margin: 0 -15px;}
.sports_center p {text-align: center;margin-top: 13px;margin-left: 20px;}
.sports_area h3 {background: #222b54;color: white;padding: 10px;font-size: 14px;}
.other_provinces h3 {background: #222b54;color: white;padding: 10px;font-size: 14px;}
.other_provinces li {list-style: none;}   
.other_provinces li a {color: #222b54;text-decoration: none!important;margin-left: 15px;}      
.other_provinces li a:hover{color: #23b14d;}
.hover_img{ position: relative;transition: transform 1s;}

.overlay {position: absolute;bottom: 30px;left: 24px; color:#23b14d;height: 0;width: 80px;opacity: 0;
  transition: .7s ease;text-decoration: none!important;}

.hover_img_details p { margin: 0;    text-align: left;}
.hover_img_details img {width: 20px;background: none; box-shadow: none;margin-top: 10px;}
.hover_img_details {padding: 10px;width: 100%;}
.hover_img_details h3 {margin: 5px 0px;}
.hover_img_details_btn {margin-top: 25px;text-align: center;}
.hover_img_details_btn a {text-decoration: none!important;padding: 7px 60px;background:#22b14c;
  color: white;}
.hover_img_details_btn a:hover{color:#22b14c; background: white;border: 1px solid; }





/*=========================DETAILS-PAGE==============================*/

.detail_section1 {background-image: url(../assets/images/ground.jpg);height: 220px;
    background-size: cover;background-position: bottom;margin-top: 10px;}
.detail_section2 {margin-top: 30px;}
.detail_section3 {margin-top: 30px;}
.detail_section2_content {padding: 10px 0;}
.detail_section2_content i {padding-right: 10px;}
i.fas.fa-circle {font-size: 10px;color: #64c880;}
.detail_section2_content p {display: inline-block;margin-left: 10px;color: #888888;}
.detail_section2_content h2 {color: black;}
.line_two img {width: 15px;}
.detail_search_area {position: relative;margin: 15px auto;background: #64c880;padding: 20px 10px;
    box-shadow: 1px 1px 20px 0px #908f8f;}
.detail_search_area input {border: none;width: 90%;background: none;}
.detail_search_area input:focus{outline:none;}
.detail_search_area select {border: none;width: 87%;padding-left: 20px;padding-top: 2px;}
.detail_search_area select:focus{outline:none;}
.detail_featured_img {text-align: center;padding: 30px 0;}
.detail_featured_img h1 {color: white;font-size: 50px;}
.detail_slider { margin: 20px 0;}

.owl-item {margin-right: 15!important;}
.item1 img {height: 135px;}
.owl-nav button {position: absolute;top: 50%;
  background-color: #000;color: #fff;margin: 0;transition: all 0.3s ease-in-out;}
.owl-nav button.owl-prev {left: 0;}
.owl-nav button.owl-next {right: 0;}

.owl-dots {text-align: center;padding-top: 15px;display: none;}

.owl-nav button { position: absolute;top: 50%;
    transform: translateY(-50%);background: rgba(255, 255, 255, 0.38) !important;}
span {font-size: 70px;    position: relative;top: -5px;}
.owl-nav button:focus {outline: none;}

.detail_section4 {margin: 30px 0;}
.servizi_area {height: 200px;background: whitesmoke;padding: 50px;width: 80%;margin: 0 auto;
  border: 1px solid #e0e0e0;}
.servizi_col i {margin-right: 10px;color: #b9b9b9;}
.servizi_area li {margin-top: 10px;list-style: none;color: #8c8c8c;font-size: 15px;}
.servizi h1 {font-size: 45px;}

.detail_scroller {margin: 20px 0;}
.detail_scroller h2 {font-size: 40px;}
.detail_scroller p {font-size: 18px;color: #989898;}
.detail_thumbnail_slider {margin: 25px 0;}
.item1 a {text-decoration: none!important;color: white;}
.detail_slide_content {display: flex;background: #22b14c;padding: 2px 30px;}
.detail_slide_content img {width: 35px!important;height: 28px;margin-top: 17px;margin-right: 15px;}
.detail_section6 {margin: 20px 0;}
.detail_time {margin-top: 70px;}
.detail_time li {list-style: none;color: #222b54;font-size: 18px;padding: 27px;
    text-align: center;border-bottom: 1px solid #d2d2d2;}
.detail_days li {list-style: none;display: inline;margin: 41px;font-size: 18px;}
.detail_days_box {display: flex;}
.box {height: 60px;width: 100px;border: 1px solid #cecece;margin: 10px;}
.heading_box {height: 60px;width: 100px;margin: 10px;text-align: center;border-bottom: 1px solid #bbbbbb;}
.detail_days_heading {display: flex;}
.nav_btn {text-align: center;}
.left_nav_btn img {width: 50px;}
.left_nav_btn a { padding: 3px 30px;border: 1px solid #22b14c;font-size: 25px;color: #22b14c;}
.left_nav_btn a:hover{background:#22b14c ;color: white;}
.right_nav_btn img{width: 50px;}
.nav_calender { margin-top: 12px;}


/*=========================MEDIA-QUERY==============================*/
@media (max-width: 768px){
    
    .logo_area {text-align: center;}
    .row.section1 {margin: 70px 0px 0 0;}
    .banner_area{height: 75vh;}
    .location {margin-bottom: 10px;}
    .calender{margin-bottom: 10px;}
    .sport{margin-bottom: 10px;}
    .search_area select {padding: 5px 10px;width: 90%;}
    .calender input{width: 90%;}
    .featured_col1{margin-bottom: 35px;}
    .menu_links li { padding-left: 45px!important;}
    .search_area {width: 90%;}
    a.blue_link {padding: 10px 10px;}
    .login_area {margin-top: 55px;margin-left: 37%;}
    .badge_bck {width: 30%;margin: 0 auto;}
    .badge_image img {left: 45%;}
	select#game {width: 20%;padding-left: 35px!important;}
    .label_img2 {left: 270px!important;padding: 0px 5px;}
    .label_img4 {right: 17%;}
    .label_img3 {left: 60%;}
    select#calender {margin-left: 0px;padding-left: 36px;    width: 20%;}
    .booking_img {text-align: center;}
    .booking_content {padding: 50px 145px;}
    .heading_area {padding-left: 0px;    text-align: center;}
    .section6_img {text-align: center;margin-bottom: 40px;}
    a.prev {top: 95%;padding: 6px 25px;}
    a.next {top: 95%;right: 8%;padding: 6px 25px;}
    .slide_bck {margin-left: 25%;}
    .slide_img {margin-left: 27%!important;}
    .footer_links {text-align: center;}
    .nostri_btn {text-align: center;margin-top: 30px;}
    .login_section {padding: 60px 0;}
    .login_pg_login { width: 80%;}
    .modal-content{width: 90%;}
    .reset_pass a{width: 40%;}
    .check_btn input {width: 15%;}
    .nostri_search_area select {width: 90%;}
    .detail_section2_img {text-align: center;}
    .detail_section2_content {text-align: center;}
    .servizi_area{height: auto;}
    .detail_scroller {text-align: center;}
    .detail_table {display: flex;overflow: scroll;width: 100%;}
    .detail_time {width: 212px;}
    

    


}

@media only screen and (max-width: 460px){
    

    .menu_links {margin-top: 25px;}
    .menu_links li {width: 75%;}
    a.blue_link {margin-top: 10px;}
    .login_area {margin-top: 20px;margin-left: 18%;float: left;padding: 0;}
    .login_area a{font-size: 21px;}
    .topnav a.icon{padding: 15px;}
    .banner_area{height: 100vh;}
    .search_area{margin: 15px auto;}
    .search_area form {display: inline-block;}
    .banner_content h1{padding: 20px; font-size: 30px;}
    .location input{width: 80%;}
    .search_area select {width: 80%;}
    .calender input {width: 80%;}
    .row.section1{height: auto;margin: 0;}
    .label_img1 {top: 60px;left: 40px;}
    .label_img2 {left: 32px!important;top: 38%;}
    .label_img3 {left: 10%;top: 60%;}
    .label_img4 {left: 10%;top: 83%;}
	.section6_img img {width: 100%;}
	.booking_img img {width: 100%;}
	.badge_bck { width: 60%;}
	.badge_image img {left: 40%;}
	.booking_content {padding: 50px 0;text-align: center;}
	.client_slider { padding: 50px;}
	.slide_bck { margin-left: 0;}
	.slide_img {margin-left: 7%!important;}
	a.next {top: 105%;right: 30%;}
	a.prev {right: 55%;top: 105%;}
	.slide_content p{text-align: center;}
	.footer_form label{width: 100%;text-align: center;}
	.footer_form input{width: 100%;}
	.footer_form a{ display: inline-block;margin: 15px auto; width: 100%;text-align: center;}
	select#location {width: 100%;padding: 10px 35px;}
	select#game {width: 100%;padding: 10px 35px;}
	select#calender {width: 100%;padding: 10px 35px;}
	select#clock {width: 100%;padding: 10px 35px;}

	.mobile-container {max-width: 480px;margin: auto;background-color: #555;height: 500px;color: white;
	                border-radius: 10px;}
	.topnav {background-color: #333;position: relative;}
	.topnav #myLinks {display: none;}
	.topnav a {color: white;padding: 14px 16px;text-decoration: none;font-size: 13px;display: block;}
	.topnav a.icon {background: black;display: block;position: absolute;right: 0;top: 0;}
	.topnav a:hover {background-color: #23b14d;color: black;}
	.active {background-color: #4CAF50;color: white;}
	a.icon {display: block;}
	.login_pg_login {width: 100%;}
  .login_pg_login a {padding: 10px 5px;}
  .nostri_search_area select {width: 89%;}



}


@media only screen and (max-width: 360px){

  .login_area {margin-left: 8%;}
  .banner_area {height: 730px;}
  .badge_bck {width: 67%;}
  .badeg_content{margin: 25px auto;}
  .booking_content{text-align: center;}
  a.book_btn{margin-left: 10px; padding: 15px 25px;}
  .client_slider {padding: 50px 22px;}
  a.blue_link { margin-top: 10px; padding: 10px 8px!important;}




}
